<div class="panel off">
	<ul>

		<li>
			<p ng-click="panelToggle('propos')">
			A PROPOS
			</p>
			<div class="proposLink"> </div>
		</li>

		<li>
			<p ng-click="panelToggle('contact')">
			CONTACT
			</p>
			<div class="contactLink"> </div>
		</li>

		<li>
			<p ng-click="panelToggle('invites')">
			INVITES
			</p>
			<div class="invitesLink"> </div>
		</li>
	</ul>

	<ul class=mobileIconsContainer>

		<li>
			<a href="unlien">
				<img class="mobilepanelroundicons" src="../../app/public/images/ParisTelexPinterest.svg" alt="pinterest">
			</a>
		</li>
		<li>
			<a href="unlien">
				<img class="mobilepanelroundicons" src="../../app/public/images/ParisTelexFacebook.svg" alt="facebook">
			</a>
		</li>

		<li>
			<a href="unlien">
				<img class="mobilepanelroundicons" src="../../app/public/images/ParisTelexInstagram.svg" alt="instagram">
			</a>
		</li>

		<li>
			<a class="mobilepanelroundicons" >
				<img ng-click="showNewsletterF()" class="mobilepanelroundicons" src="../../assets/images/newsletter.png" alt="newsletter">
			</a>
		</li>

	</ul>
</div>
